:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
}

.dark {
    --theme: rgb(21, 19, 31);
    --entry: rgb(34, 33, 43);
    --secondary: rgb(196, 196, 197);
    --primary: rgb(248, 248, 242);
    --tertiary: rgb(68, 71, 90);
    --content: rgb(248, 248, 242);
    --code-block-bg: rgb(34, 33, 43);
    --code-bg: rgb(34, 33, 43);
    --border: rgb(34, 33, 43);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
